<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
</head>
<body>
<form action="http://127.0.0.1:8080/student/add-from-form" method="post">
    <label for="studentName">Student Name:</label><br>
    <input type="text" id="studentName" name="studentName" value=""><br><br>

    <label for="rollNo">Roll No.:</label><br>
    <input type="text" id="rollNo" name="rollNo" value=""><br><br>

    <label for="rollNo">Email id:</label><br>
    <input type="text" id="email" name="rollNo" value=""><br><br>

    <label for="rollNo">Administered Test:</label><br>
    <input type="text" id="administeredTestId" name="rollNo" value=""><br><br>

    <input type="submit" value="Submit">
    <button onclick="history.back()">Add another student</button>
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
</body>
</html>