<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
</head>
<body>
<form action="http://127.0.0.1:8080/exam/create_exam" method="post">
    <label for="studentId">Exam Id:</label><br>
    <input type="text" id="examId" name="studentId" value=""><br>
    <label for="studentId">Student Id:</label><br>
    <input type="text" id="studentId" name="studentId" value=""><br>
    <label for="testId">Test Id of administered test:</label><br>
    <input type="text" id="testId" name="testId" value=""><br><br>
    <input type="submit" value="Submit">
<!--    <button onclick="history.back()">Add another student</button>-->
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
</body>
</html>