<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Exam</title>
    <link rel="stylesheet" href="../style/formcss.css"/>
</head>
<body>
    <div class="bgimg">
    <h1>Register for exam</h1>
<form action="http://127.0.0.1:8080/exam/create-exam-from-form" method="post">
    <label for="examId">Exam Id :</label><br>
    <input type="text" id="examId" name="examId" value=""><br><br>

    <label for="studentId">Student Id:</label><br>
    <input type="text" id="studentId" name="studentId" value=""><br><br>

    <label for="testId">test Id:</label><br>
    <input type="text" id="testId" name="testId" value=""><br><br>


    <input type="submit" value="Submit">

</form>

<p></p>
</div>
</body>
</html>