<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ongoing Exam</title>
    <link rel="stylesheet" href="../style/formcss.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <div class="bgimg">
        <div id="question_space"></div>
        <div>
            <label>
                <input type="checkbox" class="radio" value="1" name="fooby[1][]" />Kiwi</label>
            <label>
                <input type="checkbox" class="radio" value="1" name="fooby[1][]" />Jackfruit</label>
            <label>
                <input type="checkbox" class="radio" value="1" name="fooby[1][]" />Mango</label>
        </div>
    </div>
</body>
</html>