<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACME</title>
    <link rel="stylesheet" href="style/mycss.css"/>
</head>

<body>
<div class="bgimg">
    <div class="topleft">
        <p>.............</p>
    </div>
    <div class="middle">
        <h1>ACME Platform</h1>
        <hr>
        <p>something</p>
        
    </div>
    <div class="topright">
      <button class="button button2" onclick="window.location.href='forms/create_question.html'">Add a question</button>
      <button class="button button2" onclick="window.location.href='forms/register_student.html'">Register as student </button>
      <button class="button button2" onclick="window.location.href='forms/create_test.html'">Create new test</button>
      <button class="button button2" onclick="window.location.href='forms/register_for_exam.html'">Register for exam </button>
  </div>
    <div class="bottomleft">
        <p>Created By : Sumeet Gupta</p>
    </div>
</div>
</body>

</html>